/annotations.json
/audio1.mp3
/audio1.wav
/audio2.mp3
/input_video.mp4
audios
test_video
*/__pycache__
model.pth
.gitignore
inference.ipynb
inference.ipynb
main2.py
ll_model.pth
lstm_model.pth
**/__pycache__/
model_weights
LabelBox
Audios
Videos
old_audios
timestamp_annotations.json
Yamnet/yamnet_class_map.csv
Audio_data_labelbox
latest_timestamp_annotations.json
processed_data.json
activitynet_annotations.json
activitynet_annotations_with_subset.json
Mmaction2/data_files
Mmaction2/latest
Mmaction2/working
Mmaction2/New folder
anet_train_video.txt
anet_val_video.txt
ActionFormer/datafiles/thumos_14_anno.json
.gitignore
ActionFormer/model weights/actionformer_thumos_i3d_epoch_34_8e5ac8fd.pth
ActionFormer/datafiles/log.json
ActionFormer/datafiles/result_detection.json
ActionFormer/model weights/best.pth
