/annotations.json
/audio1.mp3
/audio1.wav
/audio2.mp3
/input_video.mp4
audios
test_video
*/__pycache__
model.pth
.gitignore
.gitignore
inference.ipynb
inference.ipynb
main2.py
ll_model.pth
lstm_model.pth
**/__pycache__/
transformer_model_weights

